
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

.container-fluid {
    max-width: 900px;
    width: 55%;
    margin: 0 auto;
}

.contain::-webkit-scrollbar {
  display: none;
}
 
.contain {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0px;
  
}

#tab-gallery-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
}
 
.nf-slide-padding {
  padding: .3em .15em;
}
 
.nf-slide-padding:first-of-type {
  padding-left: 0px;
}
 
.nf-slide-padding:last-of-type {
  padding-right: 0px;
}
 
.nf-slide-wrapper {
  min-width: 220px;
}

